<section class="top_audition">
  <div class="container">
    <h2 class="top_tit ">
      AUDITION
      <span>オーディション</span>
    </h2>
  </div>
  <div class="a_contents">
    <div class="container">
      <figure>
        <img src="./assets/img/top_audition_logo.svg" alt="">
      </figure>
      <div class="right">
        <p>
          VTuber事務所「ホロライブプロダクション」では、多彩な才能の発掘を目的に、タレントオーディションを開催しています。
          <br>
          我々は、世界が愛するカルチャーをつくります。
        </p>
        <div class="btn_outwrap left" >
          <a href="" class="btn_primary bl "*ngFor="let item of btn">
            <p class="txt">
              {{item.id}}
              <img src="{{item.img}}" alt="">
              </p>
          </a>
        </div>
      </div>
    </div>
    <div class="bg_area">
      <span class="deco d_01"></span>
      <span class="deco d_02"></span>
      <span class="deco d_03"></span>
    </div>
  </div>
</section>
