.txt_bg {
  position: relative;
  top: inherit;
  background-color: #E4E4E4;
  opacity: 1;
  padding: 0.5em 0;
  height: inherit;
  transform: inherit;
}
.spansize{
  font-size: 20px;
  color: #fff;
  margin-right: 20px;
}
.txt_bg span {
  -webkit-animation: loop-animation 30s linear infinite;
  animation: loop-animation 30s linear infinite;
  display: block;
  font-weight: bold;
  line-height: 1em;
  white-space: nowrap;
  margin-right: 3vw;
}
@keyframes loop-animation {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.talent_list li {
  height: 140px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #E4E4E4;
  transition: 0.3s ease;
  cursor: pointer;
}
.talent_list li figure {
  position: absolute;
  width: 33%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s ease;
  z-index: 1;
}
figure {
  line-height: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li{
  margin: 0;
  padding: 0;
}
.talent_list li::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f4fdff;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease .6s;
}
.talent_list li:hover figure img {
  transform: scale(1.07);
  transition: .3s;
}
.talent_list li figure img {
  width: 400px;
  transition: 0.3s ease;
}
fieldset, img {
  border: 0;
  height: auto;
}
.talent_list li .g_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.talent_list li .g_name img {
  width: auto;
  display: block;
  line-height: 0;
}
.talent_list li .tl_txt {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  transition: 0.3s ease;
  margin: 0;
  font-family: 'Rubik', 'Noto Sans JP', serif;
  line-height: 1em;
  font-weight: bold;
  color: #27C7FF;
}
.talent_list li .open_box {
  opacity: 0;
  transition: 0.3s ease;
  width: 30%;
  position: absolute;
  left: 10%;
  top: 60%;
  text-align: center;
  transform: translateY(-50%);
  z-index: 1;
}
.talent_list li .open_box .g_name_02 {
  margin-bottom: 1.3em;
}
.talent_list li .open_box .g_name_02 img {
  width: 80%;
}
.talent_list li .open_box .tl_txt {
  position: relative;
  opacity: 1 !important;
  top: inherit;
  right: inherit;
  transform: inherit;
}
.talent_list li .talent_bg_open {
  position: absolute;
  width: calc(100% + 6vw);
  height: 10vw;
  left: -3vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  overflow: hidden;
  z-index: 0;
  opacity: 0.16;
  color: #cfcfcf;
  font-family: 'Rubik', 'Noto Sans JP', serif;
  opacity: 0;
  pointer-events: none;
}
.talent_list li .talent_bg_open span {
  -webkit-animation: left_move 30s linear infinite;
  animation: left_move 30s linear infinite;
  display: block;
  font-size: 10vw;
  font-weight: bold;
  line-height: 1em;
  white-space: nowrap;
  margin-right: 3vw;
  color: #fff;
}
.talent_list li .a_open {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
a {
  color: #000;
  text-decoration: none;
  outline: none;
  transition: 0.2s;
}
.talent_list li .d_01 {
  top: 10px;
  left: 10px;
}
.talent_list li .d_02 {
  top: 10px;
  right: 10px;
  transform: rotate(90deg);
}
.talent_list li .d_03 {
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
}
.talent_list li .d_04 {
  bottom: 10px;
  left: 10px;
  transform: rotate(270deg);
}
.talent_list li .deco {
  background-image: url(https://hololivepro.com/wp-content/themes/hololive_production/images/top_talents_icon_corner.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
}
