<div class="container-fluid row navFixed">
      <a class="col-4 ">
        <img src="./assets/img/common_logo_holopro.svg" alt="hololive production">
      </a>
      <nav class="nav_box col-8 row">
        <div class="col-6">
          <ul class="nav_list nav-top list">
            <li><a href="">about</a></li>
            <li><a href="">talent</a></li>
            <li><a href="">news</a></li>
            <li><a href="">audition</a></li>
          </ul>
        </div>
      <div class="col-3">
          <ul class="list nav-top">
            <li><a href="">offical store</a></li>
          </ul>
      </div>
      <div class="col-3">
        <ul class="nav_list nav-top list">
          <li><a href="">jp</a></li>
          <li><a href="">en</a></li>
        </ul>
    </div>
      </nav>
</div>
<!-- <app-root></app-root> -->
<router-outlet></router-outlet>
<!-- <app-web-about></app-web-about> -->
<main>
    <button>aaaaa</button>
</main>
<main>
  <button>aaaaa</button>
</main>
<main>
  <button>aaaaa</button>
</main>
<main>
  <button>aaaaa</button>
</main>

