ul{
  list-style: none;
}
.head_tit {
  position: absolute;
  width: min(14vw, 200px);
  top: 20px;
  left: 20px;
  transition: 0.2s ease;
}
.navFixed {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  min-width: 100%;
  opacity: 0.94;
  transition: opacity .5s ease-out;
 }
.nav-top{
  position: fixed;
  position: relative;
  top: 0%;
  left: 0;
  display: block;
  width: 100%;
  background-color: #ffffffd1;
  color: #000;
  margin-right: 20px;
  padding: 4px 20px;
  border-radius: 50px;
  border: 2px solid #fff;
}
.list{
  display: flex;
  justify-content:space-between;
  text-align: center;
  margin: 0;
}
a{
  text-decoration: none;
}
.nav_box {
  right: 0;
  display: flex;
  align-items: center;
  font-family: var(--font_02);
  font-size: clamp(10px, 1vw, 16px);
  font-weight: bold;
}
.nav_list {
  display: flex;
  background-color: #ffffffd1;
  margin-right: 20px;
  padding: 4px 20px;
  border-radius: 50px;
  border: 2px solid #fff;
}
.bg-b{
  background: #000;
}
