<!-- <div class="container-fluid row navFixed">
      <a class="col-4 ">
        <img src="./assets/img/common_logo_holopro.svg" alt="hololive production">
      </a>
      <nav class="nav_box col-8 row">
        <div class="col-6">
          <ul class="nav_list nav-top list">
            <li><a href="">about</a></li>
            <li><a href="">talent</a></li>
            <li><a href="">news</a></li>
            <li><a href="">audition</a></li>
          </ul>
        </div>
      <div class="col-3">
          <ul class="list nav-top">
            <li><a href="">offical store</a></li>
          </ul>
      </div>
      <div class="col-3">
        <ul class="nav_list nav-top list">
          <li><a href="">jp</a></li>
          <li><a href="">en</a></li>
        </ul>
    </div>
      </nav>
</div> -->
<header class="container-fluid pb50">
  <h1 class="head_tit">
    <a href="">
      <img src="./assets/img/common_logo_holopro.svg" alt="hololive production">
    </a>
  </h1>
  <nav class="nav_box">
    <ul class="nav_list n_01">
      <li><a href="">ABOUT</a></li>
      <li><a href="">TALENT</a></li>
      <li><a href="">NEWS</a></li>
      <li><a href="">AUDITION</a></li>
    </ul>
    <a href="" target="_blank" class="single_btn ">
      OFFICIAL SHOP
      <span class="ex_icon"></span>
    </a>
    <ul class="nav_list n_01">
      <li><a href="">JP</a></li>
      <li><a href="">EN</a></li>
    </ul>
    <ul class="mr_16">
      <li class="li_move"><img src="./assets/img/toggleLine.png" alt=""class="dpn"></li>
      <li class="li_move"><img src="./assets/img/toggleLine.png" alt=""class="dpn"></li>
      <li class="li_move"><img src="./assets/img/toggleLine.png" alt=""class="dpn"></li>
    </ul>

  </nav>

</header>
<!-- <app-root></app-root> -->
<router-outlet></router-outlet>
<!-- <app-web-about></app-web-about> -->
<main>
    <button>aaaaa</button>
</main>
<main>
  <button>aaaaa</button>
</main>
<main>
  <button>aaaaa</button>
</main>
<main>
  <button>aaaaa</button>
</main>

