<div class="page_heading">
  <h1 class="maintext bg-gra font-en">{{title}}</h1>
  <p class="subtext bg-gra font-jp">{{subtitle}}</p>
</div>
<div class="about">
  <div class="page_container">
    <div class="intro">
      <figure class="chart">
        <img decoding="async" class="pc-only" [src]="intro_pc" alt="">
        <img decoding="async" [src]="intro_sp" alt="" class="sp-only">
      </figure>
      <div class="txt">
        <p>{{intro1}}</p>
        <p>{{intro2}}</p>
      </div>
    </div>
  </div>
  <div class="slideshow">
          <div class="outwrap">
            <ul class="wrap">
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide1" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide2" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide3" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide4" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide5" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide6" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide7" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide8" alt="「ホロライブプロダクション」_ABOUT"></li>
            </ul>
            <ul class="wrap">
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide1" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide2" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide3" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide4" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide5" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide6" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide7" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide8" alt="「ホロライブプロダクション」_ABOUT"></li>
            </ul>
          </div>
  </div>
  <div class="page_container">
    <div class="specialty">
      <h2 class="sec_tit">
        <span class="tit font-jp">プロダクションの強み。</span>
        <span class="sub bg-gra">SPECIALTY</span>
      </h2>
      <ul>
        <li class="spec_li">
          <h3 class="heading">
            <span class="sub font-en">{{sptitle1}}</span>
            <span class="tit bg-gra font-jp">{{specialty1}}</span>
          </h3>
          <ul class="img_box">
            <li >
              <div class="li_before"></div>
              <img decoding="async" loading="lazy" [src]="special01_1" alt="" class="alignnone size-full wp-image-100">
            </li>
            <li>
              <img decoding="async" loading="lazy" [src]="special01_2" alt="" class="alignnone">
            </li>
            <li>
              <div class="li_before"></div>
              <img decoding="async" loading="lazy" [src]="special01_3" alt="" class="alignnone">
            </li>
          </ul>
          <div class="txt">
            {{sptext1_1}}
            <br>
            {{sptext1_2}}
            <br>
            <br>
            {{sptext1_3}}
          </div>
        </li>
        <li class="spec_li">
          <h3 class="heading"><span class="sub"></span><span class="tit"></span></h3>
          <ul class="img_box">
            <li>
              ::before
              <img src="" alt="" class="alignnone">
            </li>
            <li>
              ::before
              <img src="" alt="" class="alignnone">
            </li>
            <li>
              ::before
              <img src="" alt="" class="alignnone">
            </li>
          </ul>
          <div class="txt"></div>
        </li>
        <li class="spec_li">
          <h3 class="heading"><span class="sub"></span><span class="tit"></span></h3>
          <ul class="img_box">
            <li>
              ::before
              <img src="" alt="" class="alignnone">
            </li>
            <li>
              ::before
              <img src="" alt="" class="alignnone">
            </li>
            <li>
              ::before
              <img src="" alt="" class="alignnone">
            </li>
          </ul>
          <div class="txt"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
