<div class="page_heading">
  <h1 class="maintext bg-gra font-en">{{title}}</h1>
  <p class="subtext bg-gra">{{subtitle}}</p>
</div>
<div class="about">
  <div class="page_container">
    <div class="intro">
      <figure class="chart">
        <img decoding="async" class="pc-only" [src]="intro_pc" alt="">
        <img decoding="async" [src]="intro_sp" alt="" class="sp-only">
      </figure>
      <div class="txt">
        <p>{{intro1}}</p>
        <p>{{intro2}}</p>
      </div>
    </div>
  </div>
  <div class="slideshow">
          <div class="outwrap">
            <ul class="wrap">
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide1" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide2" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide3" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide4" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide5" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide6" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide7" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide8" alt="「ホロライブプロダクション」_ABOUT"></li>
            </ul>
            <ul class="wrap">
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide1" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide2" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide3" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide4" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide5" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide6" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rl" [src]="slide7" alt="「ホロライブプロダクション」_ABOUT"></li>
              <li class="ss_img"><img decoding="async" loading="eager" class="rr" [src]="slide8" alt="「ホロライブプロダクション」_ABOUT"></li>
            </ul>
          </div>
  </div>
  <div class="page_container">
    <div class="specialty">
      <h2 class="sec_tit">
        <span class="tit">プロダクションの強み。</span>
        <span class="sub bg-gra">SPECIALTY</span>
      </h2>
      <ul>
        <li class="spec_li">
          <h3 class="heading">
            <span class="sub font-en">{{sptitle1}}</span>
            <span class="tit bg-gra">{{specialty1}}</span>
          </h3>
          <ul class="img_box">
            <li >
              <div class="li_before"></div>
              <img decoding="async" loading="lazy" [src]="special01_1" alt="">
            </li>
            <li>
              <div class="li_before"></div>
              <img decoding="async" loading="lazy" [src]="special01_2" alt="">
            </li>
            <li>
              <div class="li_before"></div>
              <img decoding="async" loading="lazy" [src]="special01_3" alt="">
            </li>
          </ul>
          <div class="txt">
            {{sptext1_1}}
            <br>
            {{sptext1_2}}
            <br>
            <br>
            {{sptext1_3}}
          </div>
        </li>
        <li class="spec_li">
          <h3 class="heading">
            <span class="sub font-en">{{sptitle2}}</span>
            <span class="tit bg-gra">{{specialty2}}</span>
          </h3>
          <div class="container">
            <ul class="img_box row">
              <li class="">
                <div class="li_before"></div>
                <img decoding="async" loading="lazy" [src]="special02_1" alt="">
              </li>
              <li class="">
                <div class="li_before "></div>
                <img decoding="async" loading="lazy" [src]="special02_2" alt="">
              </li>
              <li class="">
                <div class="li_before"></div>
                <img decoding="async" loading="lazy" [src]="special02_3" alt="">
              </li>
              <li class="">
                <div class="li_before"></div>
                <img decoding="async" loading="lazy" [src]="special02_4" alt="">
              </li>
              <li class="">
                <div class="li_before"></div>
                <img decoding="async" loading="lazy" [src]="special02_5" alt="">
              </li>
              <li class="">
                <div class="li_before"></div>
                <img decoding="async" loading="lazy" [src]="special02_6" alt="">
              </li>
            </ul>
          </div>
          <div class="txt">
            {{sptext2_1}}
            <br>
            <br>
            {{sptext2_2}}
          </div>
        </li>
        <li class="spec_li">
          <h3 class="heading">
            <span class="sub font-en">{{sptitle3}}</span>
            <span class="tit bg-gra">{{specialty3}}</span>
          </h3>
          <ul class="img_box">
            <li>
              <div class="li_before"></div>
              <img decoding="async" loading="lazy" [src]="special03_1" alt="">
            </li>
            <li>
              <div class="li_before"></div>
              <img decoding="async" loading="lazy" [src]="special03_2" alt="">
            </li>
            <li>
              <div class="li_before"></div>
              <img decoding="async" loading="lazy" [src]="special03_3" alt="">
            </li>
          </ul>
          <div class="txt">
            {{sptext3_1}}
            <br>
            {{sptext3_2}}
            <br>
            {{sptext3_3}}
            <br>
            <br>
            {{sptext3_4}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="back_top">
  <a href="../" class="btn_back">
    <p class="txt">TOPへ戻る</p>
  </a>
</div>
