/* 共同 */
.bg-gra{
  background: linear-gradient(90deg,#5FDCF0,#2AC6FE,#4fa1f0);
}

.font-en{
  font-family: 'Rubik','Noto Sans JP',sans-serif;
}


/* 標題 */
.page_heading{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: url('../../assets/img/about/head_bg.svg') repeat;
  text-align: center;
  font-weight: bold;
  padding: 150px 0 100px;
  margin-bottom: 100px;
}

.page_heading .maintext{
  display: inline-block;
  margin: 0 3%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #27c7ff;
  font-size: min(9vw,100px);
  font-weight: bold;
  line-height: 1.2em;
  animation: blur_l 1s cubic-bezier(0,0.39,0.25,1);
}

.page_heading .subtext{
  display: inline-block;
  font-size: 14px;
  line-height: 1em;
  padding: 4px 10px;
  color: #fff;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
  animation: blur_r 1s cubic-bezier(0,0.39,0.25,1);
}

@keyframes blur_l{
  0%{
    opacity: 0;
    transform: translateX(-1rem);
    filter: blur(.5em);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes blur_r{
  0%{
    opacity: 0;
    transform: translateX(1rem);
    filter: blur(.5em);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

/* 介紹 */
.page_container{
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.about .intro{
  width: 100%;
  margin-bottom: 150px;
}

.about .intro .chart{
  margin-bottom: 50px;
}

.about img{
  width: 100%;
}

.about .intro .txt{
  font-size: 16px;
  line-height: 2em;
}

.pc-only{
  display: block;
}

.sp-only{
  display: none;
}


/* 橫幅圖片 */
.about .slideshow{
  width: 100%;
  margin-bottom: 150px;
  overflow-x: hidden;
}

.about .slideshow .outwrap{
  display: flex;
  align-items: center;
  height: 20vw;
}

.about .slideshow .wrap{
  display: flex;
  align-items: center;
  animation: loopslide 60s infinite linear;
}
@keyframes loopslide{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}

ul{
  list-style: none;
}

.about .slideshow .wrap .ss_img img.rl{
  transform: rotate(-3deg);
  margin: 3vw 1vw 0;
}

.about .slideshow .wrap .ss_img img.rr{
  transform: rotate(3deg);
  margin: 0 1vw 3vw;
}

.about .slideshow .wrap .ss_img img{
  width: 24vw;
  border-radius: 10px;
}

.about img{
  width: 100%;
}

/* specialty */
.about .specialty{
  width: 100%;
  margin-bottom: 100px;
}

.about .specialty .sec_tit{
  font-family: var(#393939);
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: solid 1px #E4E4E4;
  font-size: 16px;
}

.about .specialty .sec_tit .tit{
  display: block;
  font-size: min(6vw,30px);
  line-height: 2em;
}

.about .specialty .sec_tit .sub{
  display: inline-block;
  font-size: 16px;
  line-height: 1em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .specialty .spec_li:not(:last-of-type){
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #E4E4E4;
}

.about .specialty .spec_li .heading{
  color: #27c7ff;
  font-weight: bold;
  margin-bottom: 50px;
}

.about .specialty .spec_li .heading .sub{
  display: block;
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 1em;
}

.about .specialty .spec_li .heading .tit{
  display: block;
  font-size: min(8vw,40px);
  line-height: 1.3em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img_box{
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  margin-bottom: 20px;
}

.about .specialty .spec_li .img_box li {
  width: calc((100% / 3) - 3%);
  margin: 0 1.5% 6% 1.5%;
  position: relative;
  z-index: 1;
}

.img_box li img{
  border-radius: 10px;
}

.li_before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 48%;
  left: 50%;
  background-color: #27c7ff;
  transform: translate(-50%,-50%) rotate(-5deg);
  border-radius: 10px;
  z-index: -1;
}

/* 返回鍵 */
.back_top{
  text-align: center;
  margin-bottom: 100px;
}

.btn_back{
  display: inline-block;
  padding: 0 0 .5em 0;
  border-bottom: solid 2px #27c7ff;
  transition: .3s;
}

.btn_back .txt{
  padding: 0 0 0 28px;
  line-height: 1.3em;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}

.btn_back .txt::before{
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  left: 0;
  bottom: 0;
  background-image: url(../../assets/img/common_icon_btn_bl.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

a{
  text-decoration: none;
  outline: none;
}

.btn_back .txt{
  color: #27c7ff;
  font-weight: bold;
}
@media screen and (max-width: 769px) {
  /* intro */
  .heading{
    /* padding: 150px 0 50px; */
    margin-bottom: 50px;
  }
  .pc-only{
    display: none;
  }
  .sp-only{
    display: block;
  }
  /* slideshow */
  .about .slideshow .outwrap{
    height: 50vw;
  }
  .about .slideshow .wrap .ss_img img.rl{
    margin: 3vw 2vw 0;
  }
  .about .slideshow .wrap .ss_img img.rr{
    margin: 0 2vw 3vw;
  }
  .about .slideshow .wrap .ss_img img{
    width: 70vw;
  }
  /* specialty */
  @media screen and (max-width: 769px) {
    .about .specialty .spec_li .img_box li {
        width: calc((100% / 2) - 6%);
        margin: 0 3% 6% 3%;
    }
  }
}


